$primary-pink: #d4b2bc;
h1,h2,h3,h4,h5,h6,p {
	margin:0;
}
h1 {
	font-size:64px;
}
h2 {
	font-size:48px;
}
h3{
	font-size:28px;
}
h4 {
	font-size:18px;
}
.regular {
	font-weight:normal;
}

.primary-pink {
	color:$primary-pink;
}
.bottom {
	margin-bottom:.5em;
}
.table {
	display:table;
	height:100vh;
	margin:0 auto;
}
.table-cell{
	display:table-cell;
	vertical-align:middle;
	text-align: center;
}
.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}