@import url("https://fonts.googleapis.com/css?family=Quicksand");
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif; }

.span2 {
  width: 15.83333%;
  float: left; }

.span3 {
  width: 24.25%;
  float: left; }

.span4 {
  width: 32.66667%;
  float: left; }

.span5 {
  width: 41.08333%;
  float: left; }

.span6 {
  width: 49.5%;
  float: left; }

.span7 {
  width: 57.91667%;
  float: left; }

.span8 {
  width: 66.33333%;
  float: left; }

.span9 {
  width: 74.75%;
  float: left; }

.span10 {
  width: 83.16667%;
  float: left; }

.span11 {
  width: 91.58333%;
  float: left; }

.exact1 {
  width: 8.33333%;
  float: left; }

.exact2 {
  width: 16.66667%;
  float: left; }

.exact3 {
  width: 25%;
  float: left; }

.exact4 {
  width: 33.33333%;
  float: left; }

.exact5 {
  width: 41.66667%;
  float: left; }

.exact6 {
  width: 50%;
  float: left; }

.exact7 {
  width: 58.33333%;
  float: left; }

.exact8 {
  width: 66.66667%;
  float: left; }

.exact9 {
  width: 75%;
  float: left; }

.exact10 {
  width: 83.33333%;
  float: left; }

.exact11 {
  width: 91.66667%;
  float: left; }

.span12 {
  width: 100%;
  float: left; }

.col {
  margin-left: 1%; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.outer {
  display: table;
  position: relative;
  width: 100%;
  height: 85%; }

.middle {
  display: table-cell;
  vertical-align: middle; }

.inline {
  display: inline-block; }

.home .menu-content {
  position: relative;
  display: inline-block;
  width: 100%; }

.rel {
  position: relative; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 18px; }

.regular {
  font-weight: normal; }

.primary-pink {
  color: #d4b2bc; }

.bottom {
  margin-bottom: .5em; }

.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1; }

.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.fade.ng-enter {
  opacity: 0; }

.fade.ng-enter-active {
  opacity: 1; }

.fade.ng-leave {
  opacity: 1; }

.fade.ng-leave-active {
  opacity: 0; }

.menu {
  position: fixed;
  z-index: 999; }

.home-img {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)), url(../img/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.logo {
  padding: 15px 0; }

.home .exact2 {
  width: 10% !important; }
.home .exact10 {
  width: 90% !important; }
  .home .exact10 .fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1; }
  .home .exact10 .fade.ng-enter,
  .home .exact10 .fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  .home .exact10 .fade.ng-enter {
    opacity: 0; }
  .home .exact10 .fade.ng-enter-active {
    opacity: 1; }
  .home .exact10 .fade.ng-leave {
    opacity: 1; }
  .home .exact10 .fade.ng-leave-active {
    opacity: 0; }
.home .menu-item {
  transition: .75s background-color ease-in;
  display: inline-block;
  padding: 0 15px; }
  .home .menu-item .menu-link {
    transition: .75s color ease-in;
    padding: 10px 0; }
  .home .menu-item:hover {
    background-color: #210124; }
    .home .menu-item:hover .menu-link {
      color: #E5FCF5 !important; }
.home .container {
  max-width: 1400px;
  margin: 0 auto; }

a:link {
  text-decoration: none;
  color: #d4b2bc; }

.circle-active {
  background-color: #d4b2bc !important;
  transition: .5s background-color ease-in; }

.menu {
  position: fixed;
  z-index: 999; }

.home-img {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)), url(../img/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.logo {
  padding: 15px 0; }

.home .exact2 {
  width: 10% !important; }
.home .exact10 {
  width: 90% !important; }
  .home .exact10 .fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1; }
  .home .exact10 .fade.ng-enter,
  .home .exact10 .fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  .home .exact10 .fade.ng-enter {
    opacity: 0; }
  .home .exact10 .fade.ng-enter-active {
    opacity: 1; }
  .home .exact10 .fade.ng-leave {
    opacity: 1; }
  .home .exact10 .fade.ng-leave-active {
    opacity: 0; }
.home .menu-item {
  transition: .75s background-color ease-in;
  display: inline-block;
  padding: 0 15px; }
  .home .menu-item .menu-link {
    transition: .75s color ease-in;
    padding: 10px 0; }
  .home .menu-item:hover {
    background-color: #210124; }
    .home .menu-item:hover .menu-link {
      color: #E5FCF5 !important; }
.home .container {
  max-width: 1400px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 18px; }

.regular {
  font-weight: normal; }

.primary-pink {
  color: #d4b2bc; }

.bottom {
  margin-bottom: .5em; }

.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1; }

.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.fade.ng-enter {
  opacity: 0; }

.fade.ng-enter-active {
  opacity: 1; }

.fade.ng-leave {
  opacity: 1; }

.fade.ng-leave-active {
  opacity: 0; }

/*# sourceMappingURL=main.css.map */
