.menu {
	position:fixed;
	z-index:999;
}
.home-img {
	background: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.75)),url(../img/home.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
}
.logo {
	padding:15px 0;
}
.home {
	.exact2 {
		width:10% !important;
	}
	.exact10 {
		width:90% !important;
		.fade {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    height: 100%;
		    opacity: 1;
		}
		.fade.ng-enter,
		.fade.ng-leave {
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		.fade.ng-enter {
		    opacity: 0;
		}
		.fade.ng-enter-active {
		    opacity: 1;
		}
		.fade.ng-leave {
		    opacity: 1;
		}
		.fade.ng-leave-active {
		    opacity: 0;
		}
	}
	.menu-item{
		transition:.75s background-color ease-in;
		display: inline-block;
		padding:0 15px;
		.menu-link {
			transition:.75s color ease-in;
			padding:10px 0;
		}
		&:hover {
			background-color:#210124;
			.menu-link{
				color: #E5FCF5 !important;
			}
		}	
	}
	.container {
		max-width:1400px;
		margin:0 auto;
	}
}